<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Live Streaming Demonstration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5"  id="result">Live Streaming</h3>
            <img id="image_res" src="{{ url_for('video_feed') }}" width="100%">
            <button id="person">Profile</button>
            <button id="id_photo">ID Photo</button>
            <button id="verify">Verify</button>
        </div>
    </div>
</div>
</body>
<script>

    person.addEventListener('click', function(ev) {
        $.get("{{ url_for('person') }}",
        {},
        function(data) {
            // location.href =  'https://e-rent.boyot.app/';
        });
        ev.preventDefault();
    }, false);

    id_photo.addEventListener('click', function(ev) {
        $.get("{{ url_for('id_photo') }}",
        {},
        function(data) {
            // location.href =  'https://e-rent.boyot.app/';
        });
        ev.preventDefault();
    }, false);

    verify.addEventListener('click', function(ev) {
        $.get("{{ url_for('auth_with_ocr') }}",
        {},
        function(data) {
            // location.href =  'https://e-rent.boyot.app/';
            result = document.getElementById('result');
            result.innerText = data;
            document.getElementById("image_res").src="../static/out.jpg";
        });
        ev.preventDefault();
    }, false);
    
</script>
</html>